<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    
    	<!-- DevExtreme dependencies -->
		<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.1.0.min.js"></script>
		<!-- DevExtreme themes -->
		<link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/17.2.6/css/dx.common.css" />
		<link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/17.2.6/css/dx.light.css" />
		<!-- A DevExtreme library -->
		<script type="text/javascript" src="https://cdn3.devexpress.com/jslib/17.2.6/js/dx.all.js"></script>
		<!-- <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/17.2.6/js/dx.mobile.js"></script> -->
		<!-- <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/17.2.6/js/dx.web.js"></script> -->
		<!-- <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/17.2.6/js/dx.viz.js"></script> -->
		<!-- <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/17.2.6/js/dx.viz-web.js"></script> -->
		
    	<style type="text/css">
			.dx-scheduler-date-table-cell, .dx-scheduler-timeline {
				height: 20px !important;
			}
			.dx-scheduler-time-panel-cell {
				height: 20px !important;
			}
			.dx-scheduler-time-panel-row:first-child .dx-scheduler-time-panel-cell {
				height: 19px !important;
			    border-bottom-width: 0px;
			    padding-top: 0px;
			    padding-bottom: 0px;
			}
			.wordwrap { 
			   white-space: pre-wrap;        
			   white-space: -moz-pre-wrap; 
			   white-space: -pre-wrap;     
			   white-space: -o-pre-wrap;   
			   word-wrap: break-word;      
			}
    	</style>
    	
		<script type="text/javascript">
		
			function getTimeString(d) {
				var time = "";
				if (typeof(d) === "string") {
					time = d.substring(11, 16)
				}
				return time;
			};
		    
			function showToast(event, value, type) {
		        DevExpress.ui.notify(event + " \"" + value + "\"", type, 1400);
	   		};
		    
			var projectList;
			$.ajax({
			    async: false,
			    url: 'data/projects',
			    success: function(data) {
			        projectList = data;
			    }
			});
			
			var activityTypeList;
			$.ajax({
			    async: false,
			    url: 'data/activityTypes',
			    success: function(data) {
			        activityTypeList = data;
			    }
			});
						
			function loadAppointmentsForWeek(week) {
				var appointments;
				$.ajax({
			    	async: false,
			   		url: 'calendar/loadAppointmentsForWeek/' + week.toISOString(),
			    	success: function(data) {
			        	appointments = data;
			    	}
				});
		        return appointments;
		    };
		    
		    function insertAppointment(appointmentData) {
		    	$.ajax({
					async: false,
					type: 'POST',
			   		url: 'calendar/appointment/insert',
			   		data: JSON.stringify(appointmentData),
			    	success: function(data) {
			    	},
					contentType:"application/json; charset=utf-8",
					dataType:"json"
				});
		    };
		    
		    function updateAppointment(key, appointmentData) {
				$.ajax({
				    async: false,
					type: 'POST',
			   		url: 'calendar/appointment/update/' + key,
			   		data: JSON.stringify(appointmentData),
			    	success: function(data) {
			    	},
					contentType:"application/json; charset=utf-8",
					dataType:"json"
				});
		    };
		    
		    function deleteAppointment(key) {
				$.ajax({
			    	async: false,
			   		url: 'calendar/appointment/delete/' + key,
			    	success: function(data) {
			    	}
				});
		    };
		    
		    function getProjectById(id) {
				var project;
				$.ajax({
				    async: false,
				    url: 'data/project/' + id,
				    success: function(data) {
				        project = data;
				    }
				});
		        return project;
		    };
		    
		    function getActivityTypeById(id) {
				var activityType;
				$.ajax({
				    async: false,
				    url: 'data/activityType/' + id,
				    success: function(data) {
				        activityType = data;
				    }
				});
		        return activityType;
		    };
		    
		    function getAppointmentById(id) {
				var appointment;
				$.ajax({
				    async: false,
				    url: 'data/appointment/' + id,
				    success: function(data) {
				    	appointment = data;
				    }
				});
		        return appointment;
		    };
		    
		    function getTooltipTemplate(data) {
		        return $(
		        		'<div class="dx-scheduler-appointment-tooltip dx-popup-content">' +
			        		'<div class="dx-scheduler-appointment-tooltip-title"></div>' +
			        		'<div class="dx-scheduler-appointment-tooltip-date">8:30 AM - 10:00 AM</div>' +
			        		'<div class="dx-scheduler-appointment-tooltip-buttons">' +
			        			'<div class="dx-button dx-button-normal dx-widget dx-button-has-icon app-popup-delete" role="button" aria-label="trash" tabindex="0">' +
			        				'<div class="dx-button-content"><i class="dx-icon dx-icon-trash"></i></div>' +
			        			'</div>' +
			        			'<div class="dx-button dx-button-normal dx-widget dx-button-has-icon dx-button-has-text app-popup-edit" role="button" aria-label="Open appointment" tabindex="0">' +
			        				'<div class="dx-button-content"><i class="dx-icon dx-icon-edit"></i><span class="dx-button-text">Open appointment</span></div>' +
			        			'</div>' +
			        			'<div class="dx-button dx-button-normal dx-widget dx-button-has-icon dx-button-has-text app-popup-copy" role="button" aria-label="Copy to current time" tabindex="0">' +
			        				'<div class="dx-button-content"><i class="dx-icon dx-icon-clock"></i><span class="dx-button-text">Copy to current time</span></div>' +
			        			'</div>' +
			        		'</div>' +
		        		'</div>'
		        );
		    };
		    
			var ds = new DevExpress.data.DataSource({			        	 
	            load: function(loadOptions) {
	            	var d;
	            	if (loadOptions !== undefined && loadOptions.dxScheduler !== undefined && loadOptions.dxScheduler.startDate !== undefined)
            		{
		                return loadAppointmentsForWeek(loadOptions.dxScheduler.startDate);
            		}
	            	else if (loadOptions)
            		{
		                return loadAppointmentsForWeek(loadOptions);
            		}
	            	else {
	            		return null;
	            	}
	            },			         
	            byKey: function(key) {
	                return getAppointmentById(key);
	            },			         
	            insert: function(values) {
	            	insertAppointment(values);
	                ds.reload();
	                dsWeeklySummary.reload();
	            },			         
	            update: function(key, values) {
	            	updateAppointment(key.id, values);
	                ds.reload();
	                dsWeeklySummary.reload();
	            },			         
	            remove: function(key) {
	            	deleteAppointment(key.id);
	                ds.reload();
	                dsWeeklySummary.reload();
	            }			         
	        });
			
			var scheduler;		
			$(function() {
				var isDouble = 0, prevCellData = null;
				
			    scheduler = $("#schCalendar").dxScheduler({
			        dataSource: ds,
			        currentDate: new Date(),
			        startDayHour: 8,
			        endDayHour: 20,
			        cellDuration: 15,
			        firstDayOfWeek: 1,
			        views: ['day', 'week', 'workWeek'],
        			currentView: 'week',
        	        showCurrentTimeIndicator: true,
        	        showAllDayPanel: false,
        			timeZone: 'Europe/Vienna',
        			appointmentTemplate: function(data) {
			            var projectInfo = $.grep(projectList, function(e){ return e.id === data.projectId; })[0];
			            var activityTypeInfo = $.grep(activityTypeList, function(e){ return e.id === data.activityTypeId; })[0];
			     
			            return $('<div>' + 
			                        '<div class="wordwrap" style="font-size: 13px">' + projectInfo.name + ' - ' + activityTypeInfo.name + '</div>' +
			                        '<div class="wordwrap" style="font-size: 11px">' + getTimeString(data.startDate) + ' - ' + getTimeString(data.endDate) + '</div>' + 
			                        '<div class="wordwrap" style="margin-top: 10px; font-size: 13px">' + data.subject + '</div>' +
			                        '<div class="wordwrap" style="margin-top: 10px; font-size: 11px">' + (data.body !== null ? data.body : '') + '</div>' +
			                     '</div>'); 
			     
			        },
			        appointmentTooltipTemplate: function(data, container) {
			            var markup = getTooltipTemplate(getAppointmentById(data.id));
			            markup.find(".app-popup-delete").click(function() { scheduler.deleteAppointment(data); scheduler.hideAppointmentTooltip(); });
			            markup.find(".app-popup-edit").click(function() { scheduler.showAppointmentPopup(data, false); scheduler.hideAppointmentTooltip(); });
			            markup.find(".app-popup-copy").click(function() { 
			            	var newAppointment = jQuery.extend(true, {}, data);
			            	newAppointment.startDate = new Date();
			            	newAppointment.startDate.setMinutes(Math.round(newAppointment.startDate.getMinutes() / 15) * 15); 
			            	newAppointment.startDate.setSeconds(0); 
			            	newAppointment.startDate.setMilliseconds(0); 
			            	newAppointment.endDate = new Date(newAppointment.startDate);
			            	newAppointment.endDate.setHours(newAppointment.startDate.getHours() + 1);
			            	scheduler.addAppointment(newAppointment);
			            	scheduler.hideAppointmentTooltip();
			            });
			            return markup;
			        },
			        onContentReady: function(e) {
		                dsWeeklySummary.reload();
			        },
					onCellClick: function(e){
						e.cancel = true; // cancel all default logic
						if (isDouble == 1) {
							prevCellData = e.cellData;
						}
						isDouble++;
						setTimeout(function () {
							if (isDouble == 2) {
								var focusedCells = e.element.find("td.dx-state-focused");
								if(focusedCells.length > 0){
									var cell = focusedCells[0]; // get the first cell;			                         
									var cdata = $(cell).data("dxCellData") || $($(cell).parents(".dx-item")).data("dxItemData");                     
									e.component.showAppointmentPopup({ startDate: cdata.startDate, endDate: e.cellData.endDate }, true);
								}
							}
							else if (isDouble == 1)
								console.log('Click');
							isDouble = 0;
							prevCellData = null;
						}, 300);
			        },
			        onAppointmentAdded: function(e) {
			            showToast("Added",e.appointmentData.subject, "success");
			        },
			        onAppointmentUpdated: function(e) {
			            showToast("Updated",e.appointmentData.subject, "info");
			        },
			        onAppointmentDeleted: function(e) {
			            showToast("Deleted",e.appointmentData.subject, "warning");
			        },
	                onAppointmentRendered: function (e) {
	                	if (e !== undefined && e.appointmentData !== undefined)
	                	{
				            var activityTypeInfo = $.grep(activityTypeList, function(a){ return a.id === e.appointmentData.activityTypeId; })[0];
		                    e.appointmentElement[0].style.backgroundColor = activityTypeInfo.color;
		                }
	                },
        			onAppointmentFormCreated: function(data) {
			            var form = data.form,
			                startDate = data.appointmentData.startDate;
			    
			                form.option("items", [{
			                    label: {
			                        text: "Project"
			                    },
			                    editorType: "dxSelectBox",
			                    dataField: "projectId",
			                    editorOptions: {
			                        items: projectList,
			                        displayExpr: "name",
			                        valueExpr: "id"
			                    },
			                }, {
			                    label: {
			                        text: "Activity"
			                    },
			                    editorType: "dxSelectBox",
			                    dataField: "activityTypeId",
			                    editorOptions: {
			                        items: activityTypeList,
			                        displayExpr: "name",
			                        valueExpr: "id"
			                    },
			                }, {
			                    dataField: "startDate",
			                    editorType: "dxDateBox",
			                    editorOptions: {
			                        type: "datetime",
			                        displayFormat: "dd.MM.yyyy HH:mm"
			                    }
			                }, {
			                    name: "endDate",
			                    dataField: "endDate",
			                    editorType: "dxDateBox",
			                    editorOptions: {
			                        type: "datetime",
			                        displayFormat: "dd.MM.yyyy HH:mm"
			                    }
			                }, {
			                    label: {
			                        text: "Subject"
			                    },
			                    name: "subject",
			                    dataField: "subject",
			                    editorType: "dxTextBox"
			                }, {
			                    label: {
			                        text: "Description"
			                    },
			                    name: "body",
			                    dataField: "body",
			                    editorType: "dxTextArea",
			                    editorOptions: {
			                    	height: 120
			                    }
			                }]
			            );
			        }
			    }).dxScheduler('instance');
			});
			
			var dsWeeklySummary = new DevExpress.data.DataSource({
			      loadMode: "raw",   
			      load: function (loadOptions) {
			          return $.getJSON('calendar/loadWeeklySummary/' + (scheduler !== undefined && scheduler.getStartViewDate() !== undefined ? scheduler.getStartViewDate().toISOString() : new Date().toISOString()));
			      }
			});
			
			var weeklySummary;		
			$(function() {
				weeklySummary = $('#dgvWeeklySummary').dxDataGrid({
					dataSource: dsWeeklySummary,
					columns: [
			            { dataField: 'description', caption: 'Task', sortOrder: "asc" },
			            { dataField: 'totalHours', caption: 'Hours', format: { type: 'fixedPoint', precision: 2 }, width: '70px' }
			        ],
			        summary: {
			            totalItems: [{
			                column: "totalHours",
			                summaryType: "sum",
		                    customizeText: function(data) {
		                        return data.value.toFixed(2);
		                    }
			            }]
			        }
				}).dxDataGrid('instance');
			});
		</script>
		
        <title>calendar</title>
    </head>
    <body>
    	<!-- <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form> -->
        <div style="width: 100%">
        	<div id="schCalendar" style="width: 70%; float: left;"></div>
        	<div id="dgvWeeklySummary" style="width: 25%; float: left; margin-left: 5px"></div>
        </div>        
    </body>
</html>